.to-do {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  max-width: 476px;
  width: 100%;
  height: auto;
  margin: 20px auto 0;
  padding: 25px 8px;
  font-size: 18px;
  background-color: $white;

  &__priority-title {
    margin-bottom: 12px;
    text-align: center;
    text-transform: uppercase;
  }

  &__list {
    margin-bottom: 12px;
  }

  &__item {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 8px;
    padding: 12px;
    border-radius: 6px;
    border: 1px solid $medium-gray;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .form {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;


    &__input {
      width: 100%;
      padding-right: 5px;
      outline: transparent;

      &::placeholder {
        color: $medium-gray;
      }
    }

    &__btn {
      width: 20px;
      height: 20px;
      background-image: url('../images/icons/add_icon.svg');
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      transition: opacity 0.2s;

      &:hover {
        opacity: 0.5;
      }
    }
  }

  &__task-checkbox {
    width: 19px;
    height: 19px;
    margin: 0;
  }

  &__task-btn {
    width: 16px;
    height: 16px;
    background-image: url('../images/icons/close_icon.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition: opacity 0.2s;


    &:hover {
      opacity: 0.5;
    }
  }
}