.messanger {
  position: relative;
  max-width: 320px;
  width: 100%;
  margin: 0 auto;
}

.chat {
  padding: 8px;
  background-color: $white;

  &__nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
  }

  &__history {
    height: 437px;
    margin-bottom: 8px;
    overflow-y: scroll;
    border: 1px solid black;
    scrollbar-width: none; 
    
    &::-webkit-scrollbar {
      width: 0;
    }
  }

  &__history-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    min-height: 100%;
  }

  &__message {
    display: inline-block;
    margin: 8px;
    padding: 8px;
    background-color: $medium-gray;
  }
  
  &__time {
    display: block;
    font-style: italic;
    text-align: right;
  }

  .float-left {
    align-self: flex-start;
    margin-left: 8px;
  }

  .float-right {
    align-self: flex-end;
    margin-right: 8px;
  }

  .form {
    &__btn-send {
      width: 32px;
      height: 32px;
      background-image: url('../images/icons/send_arrow.svg');
      background-repeat: no-repeat;
      background-position: center;
      background-size: 15px;
    }
  } 
}

.modal-settings {
  .form {
    &__input {  
      flex-grow: 1;
    }

    &__btn-send {
      width: 32px;
      height: 32px;
      background-image: url('../images/icons/send_arrow.svg');
      background-repeat: no-repeat;
      background-position: center;
      background-size: 15px;
    }
  }
}

.active {
  display: block;
}