.weather {
  max-width: 620px;
  width: 100%;
  min-height: 460px;
  height: 100%;
  background-color: $white;
  margin: 20px auto;
  padding: 15px 10px;

  &__grid {
    display: grid;
    height: 100%;
    grid-template-columns: repeat(6, 1fr2);
    grid-template-rows: repeat(10, 1fr);
    border-top: 1px solid #2ec548;
    border-left: 1px solid #2ec548;
  }

  &__form,
  &__main,
  &__location-title,
  &__location-list,
  &__nav {
    border-right: 1px solid #2ec548;
    border-bottom: 1px solid #2ec548;


  }

  &__form {
    grid-column: span 6;
    grid-row: span 1;
  }

  &__main {
    grid-column: span 3;
    grid-row: span 8;
  }

  &__location-title {
    grid-column: span 3;
    grid-row: span 2;
  }

  &__location-list {
    grid-column: span 3;
    grid-row: span 7;
  }

  &__nav {
    text-align: center;
    line-height: 43px;
  }
}