.weather {
  width: 620px;
  height: 460px;
  background-color: $white;
  margin: 20px auto;
  padding: 15px 10px;

  &__grid {
    border: 1px solid $black;
    height: 100%;
    grid-template-columns: repeat(6, 100px);
    grid-template-rows: repeat(10, 43px);
  }
}