.weather {
  max-width: 600px;
  width: 100%;
  margin: 20px auto;
  padding: 15px 10px;
  background-color: $white;

  &__grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(10, 40px);
    grid-gap: 2px;
    border: 2px solid $gray;
    background-color: $gray;
  }

  &__form,
  &__main-list,
  &__title-wrapper,
  &__location-list,
  &__nav-btn {
    background-color: $white;
  }

  .weather-form {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    grid-column: span 6;
    grid-row: span 1;

    &__input {
      max-width: 554px;
      width: 100%;
      height: 100%;
      padding-left: 15px;
      outline: transparent;
    }

    &__btn {
      width: 44px;
      height: 44px;
      background-color: $black;
      mask-image: url('../images/icons/search.svg');
      mask-repeat: no-repeat;
      mask-position: center;
      mask-size: auto;
      transition: background-color 0.2s;


      &:hover {
        background-color: $medium-gray;
      }
    }
  }

  &__main-list {
    position: relative;
    padding: 15px;
    grid-column: span 3;
    grid-row: span 8;
    overflow: scroll;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      width: 0;
    }
  }

  &__main-item {
    display: none;
    height: 100%;

    &--active {
      display: flex;
    }
  }

  .common-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    background-image: url('../images/weather_bg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;

    &__temperature {
      font-size: 70px;
    }

    &__favourite {
      position: absolute;
      width: 44px;
      height: 44px;
      bottom: 10px;
      right: 10px;
      background-color: $lite-gray;
      mask-image: url('../images/icons/favourite.svg');
      mask-repeat: no-repeat;
      mask-position: center;
      mask-size: auto;
      transition: background-color 0.2s;

      &:hover {
        background-color: $medium-gray;
      }

      &--active,
      &:active {
        background-color: $dark;
      }
    }
  }

  .detailed-info {
    height: 100%;

    &__city {
      margin-bottom: 15px;
    }

    &__item {
      margin-bottom: 10px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    &--active {
      display: block;
    }

  }

  .hour-info {
    width: 100%;

    &__item {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 120px;
      margin-bottom: 10px;
      padding: 10px;
      font-size: 18px;
      border: 1px solid $black;

    }

    &__date {
      display: flex;
      justify-content: space-between;
    }

    &__icon {
      position: absolute;
      right: 10px;
      bottom: 38px;

      &:before {
        content: '';
        position: absolute;
        width: 31px;
        height: 31px;
        top: 20px;
        background-image: url('../images/icons/rain_icon.svg');
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
      }
    }
  }

  &__title-wrapper {
    display: flex;
    height: 100%;
    padding: 10px 15px;
    grid-column: span 3;
    grid-row: span 2;
  }

  &__location-title {
    align-self: end;
    vertical-align: bottom;
  }

  &__location-list {
    padding: 10px 15px;
    grid-column: span 3;
    grid-row: span 7;
    overflow: scroll;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      width: 0;
    }
  }

  &__location-btn {
    width: 100%;
    text-align: left;
    padding: 8px 0;
  }

  &__nav-btn {
    font-size: 18px;
    grid-column: span 1;
    transition: background-color 0.2s;

    &:hover {
      background-color: $lite-gray;
    }


    &--active,
    &:active {
      background-color: $black;
      color: $white;

      &:hover {
        background-color: $black;
      }
    }
  }
}